@import "tailwindcss";


@theme inline {
  --color-softOrange: #FD8C62;
  --color-lightYellow: #FDD36B;
  --color-darkText: #231B24;
  --color-lightBgGrey: #F8F5F1;
  --font-main: var(--font-manrope);
}

.container {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}
